<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.traveler.mapper.AdminMapper">
    <select id="selectCount" resultType="int">
        select count(*) from Travelmember
    </select>
    <select id="selectAll" resultType="com.traveler.model.Member">
        select id,
			   password,
			   name,
			   register_date,
			   birthday,
			   tel,
			   address,
			   addressNum 
		  from Travelmember
    </select>
    <select id="selectPage" 
     	parameterType="com.traveler.util.Pagination" 
     	resultType="com.traveler.model.Member"
     	databaseId="mysql">
			select id,
				   password,
				   name,
				   register_date,
				   birthday,
				   tel,
				   address,
				   addressNum 
			  from Travelmember
			 order by register_date desc 
			 limit #{start}, #{length} 
    </select>
    
    <select id="selectById" parameterType="String" resultType="com.traveler.model.Member">
        select id,
			   password,
			   name,
			   register_date,
			   birthday,
			   tel,
			   address,
			   addressNum 
		  from Travelmember
		 where id = #{id}
    </select>
    
    <insert id="insert" 
        	parameterType="com.traveler.model.Member" 
        	useGeneratedKeys="true"
        	keyProperty="id"
        	databaseId="mysql">
        insert into Travelmember
		(
	         id,
		 	 password,
			 name,
			 register_date,
			 birthday,
			 tel,
			 address,
			 addressNum
		)
		values
		(
			#{id, jdbcType=VARCHAR},
			#{password, jdbcType=VARCHAR},
			#{name, jdbcType=VARCHAR},
			#{register_date, jdbcType=DATE}
			#{birthday, jdbcType=DATE}
			#{tel, jdbcType=VARCHAR}
			#{address, jdbcType=VARCHAR}
			#{addressNum, jdbcType=NUMERIC}
		)
    </insert>
    
    <update id="update" parameterType="com.traveler.model.Member">
        update Travelmember
           set id,
		 	   password,
			   name,
			   register_date,
			   birthday,
			   tel,
			   address,
			   addressNum
         where id = #{id}
    </update>
    
    <delete id="deleteById" parameterType="String">
        delete from Travelmember where id = #{id}
    </delete>

</mapper>