<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.traveler.mapper.ShareMapper">
    
    <select id="selectCount" resultType="int">
		select count(*) from TravelShareBoard;        
    </select>
    
    <select id="selectAll" resultType="com.traveler.mapper.ShareMapper">
        select boardNum,
        	   memberPicture,
        	   id,
        	   name,
        	   memberAge,
        	   memberTel,
        	   title,
        	   term,
        	   number,
        	   cost,
        	   content,
        	   picture,
        	   map
         from TravelShareBoard   
    </select>
    
    <select id="selectByboardNum" parameterType="int" resultType="com.traveler.model.Share">
        select boardNum,
        	   memberPicture,
        	   id,
        	   name,
        	   memberAge,
        	   memberTel,
        	   title,
        	   term,
        	   number,
        	   cost,
        	   content,
        	   picture,
        	   map
         from TravelShareBoard  
		 where boardNum = #{boardNum}
    </select>
    
        <select id="selectPage" 
        	parameterType="com.traveler.util.Pagination" 
        	resultType="com.traveler.model.Share"
        	databaseId="mysql">
         select boardNum,
        	   memberPicture,
        	   id,
        	   name,
        	   memberAge,
        	   memberTel,
        	   title,
        	   term,
        	   number,
        	   cost,
        	   content,
        	   picture,
        	   map
         from TravelShareBoard  
		 order by boardNum desc
		 limit #{start}, #{length} 
    </select>
    
      <insert id="insert" 
        	parameterType="com.traveler.model.Share"
        	useGeneratedKeys="true"
        	keyProperty="id"
        	databaseId="mysql">
        
        insert into TravelShareBoard
		(
			   boardNum,
			   memberPicture,
        	   id,
        	   name,
        	   memberAge,
        	   memberTel,
        	   title,
        	   term,
        	   number,
        	   cost,
        	   content,
        	   picture,
        	   map,
        	   orgname,
        	   newname
		)
		values
		(
		    #{boardNum,				jdbcType=NUMERIC},
			#{memberPicture, 		jdbcType=VARCHAR}, 
			#{id, 					jdbcType=VARCHAR},
			#{name, 				jdbcType=VARCHAR},
			#{memberAge, 			jdbcType=NUMERIC},
			#{memberTel, 			jdbcType=VARCHAR},
			#{title, 				jdbcType=VARCHAR},
			#{term, 				jdbcType=VARCHAR},
			#{number, 				jdbcType=NUMERIC},
			#{cost, 				jdbcType=NUMERIC},
			#{content, 				jdbcType=NUMERIC},
			#{picture, 				jdbcType=NUMERIC},
			#{map, 					jdbcType=NUMERIC},
			#{orgname, 				jdbcType=VARCHAR},
			#{newname, 				jdbcType=VARCHAR}
		)
    </insert>
    
      <update id="update" parameterType="com.traveler.model.Share">
          update TravelShareBoard
          set	boardNum		= #{boardNum},			
			  	memberPicture   = #{memberPicture},
        	   	id				= #{id},
        	   	name			= #{name},
        	   	memberAge		= #{memberAge},
        	   	memberTel		= #{memberTel},
        	   	title			= #{title},
        	   	term			= #{term},
        	   	number			= #{number},
        	   	cost			= #{cost},
        	   	content			= #{content},
        	   	picture			= #{picture},
        	   	map				= #{map},
        	   	orgname			= #{orgname},
        	   	newname			= #{newname}
          where boardNum = #{boardNum}
      </update>
      
      <delete id="deleteByboardNum" parameterType="int">
		delete from TravelShareBoard where boardNum = #{boardNum}      
      </delete>
      
        <delete id="deleteAll">
        delete from TravelShareBoard
   		 </delete>
         
</mapper>

